{{- if .Values.server.enabled }}
{{- if .Values.server.istio.enabled }}
{{- range $index, $destinationRule := .Values.server.istio.destinationRules }}
{{- with $destinationRule }}
apiVersion: networking.istio.io/v1alpha3
kind: DestinationRule
metadata:
  name: {{ .name }}
  labels:
    {{- include "application.server.labels" $ | nindent 4 }}
spec:
  host: {{ .host }}
  trafficPolicy:
    {{- toYaml .trafficPolicy | nindent 4 }}
  {{- if .subsets }}
  subsets:
    {{- tpl (.subsets | nindent 4) $ }}
  {{- end }}
{{- end }}
---
{{- end }}
{{- end }}
{{- end }}
