{{- if and .Values.server.istio.enabled (eq (include "application.server.istio.mode" .) "sidecar") }}
{{- if .Values.server.istio.ingressGateways }}
{{- range $index, $gateway := .Values.server.istio.ingressGateways }}
{{- with $gateway }}
apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: {{ .name }}
  labels:
    {{- include "application.server.labels" $ | nindent 4 }}
spec:
  selector:
    {{- toYaml .selector | nindent 4}}
  servers:
    {{- toYaml .servers | nindent 4 }}
{{- end }}
---
{{- end }}
{{- end }}
{{- end }}
