{{- if .Values.server.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "application.server.name" . }}
  labels:
    {{- include "application.server.labels" . | nindent 4 }}
    {{- if .Values.server.istio.useWaypoint }}
    istio.io/use-waypoint: {{ .Values.server.istio.useWaypoint }}
    {{- end }}
spec:
  ports:
{{- range .Values.server.ports }}
    - name: {{ .name }}
      port: {{ .port }}
      targetPort: {{ .targetPort }}
      protocol: TCP
{{- end }}
  selector:
    {{- include "application.server.selectorLabels" . | nindent 4 }}
{{- end }}
