{{- if .Values.scheduler.enabled }}
{{- if and .Values.scheduler.istio.enabled (eq (include "application.scheduler.istio.mode" .) "sidecar") }}
{{- range $index, $destinationRule := .Values.scheduler.istio.destinationRules }}
{{- with $destinationRule }}
apiVersion: networking.istio.io/v1alpha3
kind: DestinationRule
metadata:
  name: {{ .name }}
  labels:
    {{- include "application.scheduler.labels" $ | nindent 4 }}
spec:
  host: {{ .host }}
  trafficPolicy:
    {{- toYaml .trafficPolicy | nindent 4 }}
  subsets:
    {{- tpl (.subsets | nindent 4) $ }}
{{- end }}
---
{{- end }}
{{- end }}
{{- end }}
