{{- if .Values.scheduler.enabled }}
{{- if and .Values.scheduler.istio.enabled (eq (include "application.scheduler.istio.mode" .) "ambient") }}
{{- range $index, $httpRoute := .Values.scheduler.istio.httpRoutes }}
{{- with $httpRoute }}
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ .name }}
  labels:
    {{- include "application.scheduler.labels" $ | nindent 4 }}
spec:
  {{- with .parentRefs }}
  parentRefs:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with .hostnames }}
  hostnames:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with .rules }}
  rules:
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
---
{{- end }}
{{- end }}
{{- end }}
